<!-- LIST OF CONTACTS -->

<div class="content">
  <h1>Contact List</h1>
  <div class="card" *ngFor="let contact of contacts">
    <h4 *ngIf="contact.avatar"><a routerLink="/details/{{contact.id}}">{{contact.first_name}}</a></h4>
    <h4 *ngIf="!contact.avatar">{{contact.first_name}}</h4>
    <br><a routerLink="/details/{{contact.id}}"><img src="{{contact.avatar}}"></a><br>
    <div *ngIf="contact.avatar">
      <button class="options btn btn-info btn-sm" (click)="edit(contact.id)" data-toggle="modal"
        data-target="#editModal">
        <mat-icon>edit</mat-icon>
      </button>&nbsp;
      <button class="options btn btn-danger btn-sm" (click)="selectContact(contact.id)" data-toggle="modal"
        data-target="#deleteModal">
        <mat-icon>remove</mat-icon>
      </button>
    </div>
  </div>
  <button class="add btn btn-primary btn-lg" data-toggle="modal" data-target="#addModal">
    <mat-icon>add</mat-icon>
  </button>

</div>

<!-- MODAL TO EDIT A CONTACT-->

<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editModalLabel">{{fullName}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="first_name" class="col-form-label">First Name:</label>
            <input type="text" class="form-control" id="first_name" value="{{contact.first_name}}">
          </div>
          <div class="form-group">
            <label for="last_name" class="col-form-label">Last Name:</label>
            <input type="text" class="form-control" id="last_name" value="{{contact.last_name}}">
          </div>
          <div class="form-group">
            <label for="email" class="col-form-label">Last Name:</label>
            <input type="text" class="form-control" id="email" value="{{contact.email}}">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button (click)="save(contact.id)" type="button" class="btn btn-primary" data-dismiss="modal"
          data-toggle="modal" data-target="#responseModal">Save
        </button>
      </div>
    </div>
  </div>
</div>

<!-- MODAL TO ADD A CONTACT-->

<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addModalLabel">{{fullName}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="afirst_name" class="col-form-label">First Name:</label>
            <input type="text" class="form-control" id="afirst_name">
          </div>
          <div class="form-group">
            <label for="alast_name" class="col-form-label">Last Name:</label>
            <input type="text" class="form-control" id="alast_name">
          </div>
          <div class="form-group">
            <label for="aemail" class="col-form-label">Email:</label>
            <input type="text" class="form-control" id="aemail">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button (click)="add()" type="button" class="btn btn-success" data-dismiss="modal" data-toggle="modal"
          data-target="#responseModal">Accept
        </button>
      </div>
    </div>
  </div>
</div>

<!-- MODAL TO DELETE A CONTACT-->

<div id="deleteModal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Deleting {{fullName}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete this contact?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="delete(contact.id)" data-dismiss="modal"
          data-toggle="modal" data-target="#responseModal">Yes
        </button>
      </div>
    </div>
  </div>
</div>

<!-- MODAL WITH THE RESPONSE -->

<div id="responseModal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Response</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>{{response}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Ok</button>
      </div>
    </div>
  </div>
</div>